name: CI_CD WORKFOLWS
on: push

jobs:
  build-frontend-and-node-api:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - context_name: ./frontend
            image_name: ghcr.io/nalvac/ci-cd-docker/node-api/app:latest
          - context_name: ./node-api
            image_name: ghcr.io/nalvac/ci-cd-docker/node-api/app:latest
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ${{matrix.context_name}}
          push: true
          tags: ${{matrix.image_name}}
          cache-on: --type=gha # Cache pour le gitHub action
          cache-from: --type=gha,mode=max # Cache tout, mm les layers intermédiare
  build-api-node:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./node-api
          push: true
          tags: ghcr.io/nalvac/ci-cd-docker/node-api/app:latest
          cache-on: --type=gha # Cache pour le gitHub action
          cache-from: --type=gha,mode=max # Cache tout, mm les layers intermédiare
